@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>

<section id="relatedLinksSection" class="widget doctors-carousel doctors">
    <div class="widget-title">Similar Treatments</div>

    <div id="help-carousel" class="owl-carousel">
        <div>
            <ul>
                @RenderRelatedTreatmentWidget()
            </ul>
        </div>
    </div>
</section>

@helper RenderRelatedTreatmentWidget()
{
    var heading = Model.GetPropertyValue<string>("pageHeading");
    var alt = Model.GetPropertyValue<string>("thumbnailImageAltValue") ?? string.Empty;
    <li class="item">
        <div class="pic">
            <img src="@(Model.GetCropUrl("thumbnail", "thumb"))" width="142" height="142" alt="@(alt)">
            <div class="links">
                <ul>
                    <li><a href="@(Model.Url)" class="fa fa-mail-forward"></a></li>
                </ul>
            </div>
        </div>
        <h3>@heading</h3>
        <p></p>
    </li>
}