@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTitleBar = false;
    IPublishedContent homeData = null;
    var homeDataNodes = Model.Content.Descendants("HomePageContent");
}
<link href="~/Content/css/home.css" rel="stylesheet" />

@{
    var sliders = Model.Content.Descendants("Slider");
    IPublishedContent slider = null;
    if(sliders.Any()) {
        slider = sliders.First();
    }
}

@{ Html.RenderPartial("_SliderPartial", slider); }

@if (homeDataNodes.Any())
{
    homeData = homeDataNodes.First();
    var highlights = homeData.Descendants("Highlights");
    if (highlights.Any())
    {
        @Html.Partial("_HighlightsPartial", highlights.First())
    }

    var homeDataIndex = homeData.Descendants("HomeSliderContent").First();
    var rows = homeDataIndex.Children.ToList();
    var alt = string.Empty;
    if (rows.Any())
    {
        var classActive = "active";
        var classVisible = "visible";
        <div class="comments clearfix" style="position:relative; overflow:hidden;">
            <div style='position: absolute;'>
                <div class="mask">
                    <div class="mask-wrapper">

                    </div>
                </div>
            </div>
            <div class="grid-row">

                <div class="tab">
                    @foreach (var column in rows)
                    {
                        alt = column.GetProperty("thumbnailImageAltValue").Value as string ?? string.Empty;
                        <div class="box @classVisible">
                            @{
                        classVisible = "";
                            }
                            <h4>@column.GetProperty("heading")</h4>
                            <p>@Html.Raw(column.GetProperty("text").Value.ToString())</p>
                            <img src="@Umbraco.TypedContent(column.Id).GetCropUrl("photo", "home")" alt="@alt" class="img-hide">
                        </div>
                    }
                    <ul class="tabs">
                        @foreach (var column in rows)
                        {
                            <li class="@classActive">
                                @{
                            classActive = "";
                                }
                            </li>
                        }
                    </ul>
                    <a class="tab-prev" href="#"></a>
                    <a class="tab-next" href="#"></a>
                </div>
            </div>
        </div>
    }

    <div class="treatments clearfix">
        <div class="grid-row">
            <div class="newsletter-title">
                @homeData.GetPropertyValue("treatmentHeading")
            </div>
        </div>
        <div class="grid-row">

            <ul class="grid cs-style-3">
                @foreach (var treatmentCategory in uQuery.GetNodesByType("TreatmentsData").First().GetDescendantNodesByType("TreatmentsCategoryData"))
                {
                    var url = "/treatments/" + treatmentCategory.UrlName; umbraco.NodeFactory.Node matchedNode = uQuery.GetNodeByUrl(url); alt = treatmentCategory.GetProperty<string>("thumbnailImageAltValue") ?? string.Empty;
                    <li class="grid-col grid-col-3">
                        <figure class="cs-hover">
                            <img class="treatment-image" src="@Umbraco.TypedContent(treatmentCategory.Id).GetCropUrl("thumbnail", "thumb")" alt="@alt" />

                            <a href="@url">
                                <figcaption>
                                    <h3>@matchedNode.GetProperty("heading")</h3>
                                </figcaption>
                            </a>
                        </figure>
                        <p></p>
                    </li>
                }
            </ul>
        </div>
        @{
    var videoUrl = string.Format("http://www.youtube.com/embed/{0}?autoplay=1&loop=1&playlist={0}", (homeData.GetProperty("youTubeVideoId").Value ?? ""));
        }

        <div class="grid-row">
            <div class="treatment-text">
                <div class="welcome-video">
                    <iframe width="420" height="315" src="@videoUrl"></iframe>
                </div>
                @{
    var htmlText = homeData.GetProperty("treatmentContentText").Value;
    htmlText = string.Format("{0}", htmlText.ToString().Replace('\n' + "", "</p><p>"));
                }
                @Html.Raw(htmlText)
            </div>
        </div>
    </div>

    var subscribeUrl = "/umbraco/surface/subscription/SubscribeNewsletter/";
    <div class="newsletter clearfix">
        <div class="wrap">
            <div class="newsletter-title">@homeData.GetProperty("nsHeading").Value</div>
            <div class="newsletter-form clearfix">
                <form method="post" action="@subscribeUrl">
                    <input type="email" class="input-text" placeholder="Your email">
                    <input type="button" value="Subscribe" class="button submit" onclick="subscribeNewsLetter()">
                </form>
            </div>
            <p class="subscription-msg"></p>
            <p> @homeData.GetProperty("nsInfoOnEmail").Value</p>
            <div style="display:none" id="email-procssing">@homeData.GetProperty("nsMsgProcessing").Value </div>
            <div style="display:none" id="email-procssing-success">@homeData.GetProperty("nsMsgOnSuccess").Value </div>
            <div style="display:none" id="email-procssing-error">@homeData.GetProperty("nsMsgOnError").Value </div>
        </div>
    </div>
}
@section Scripts {
    <script src="~/scripts/library.js"></script>
    <script src="~/scripts/spascript.js"></script>
}